<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.trace.map.mapper.TraceInfoMapper">
    <resultMap id="BaseResultMap" type="org.trace.map.entity.TraceInfo">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="trace_id" jdbcType="VARCHAR" property="traceId"/>
        <result column="from_loc" jdbcType="VARCHAR" property="fromLoc"/>
        <result column="to_loc" jdbcType="VARCHAR" property="toLoc"/>
        <result column="route_loc_num" jdbcType="INTEGER" property="routeLocNum"/>
        <result column="prevention_level" jdbcType="INTEGER" property="preventionLevel"/>
        <result column="symptom" jdbcType="INTEGER" property="symptom"/>
        <result column="season" jdbcType="INTEGER" property="season"/>
        <result column="vaccine_num" jdbcType="INTEGER" property="vaccineNum"/>
        <result column="a_type" jdbcType="INTEGER" property="type"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>


    <select id="getTraceGroup" resultType="string">
        select `trace_id`
        from trace_map
        group by `trace_id`
    </select>

    <select id="getTraceInfoList" resultMap="BaseResultMap">
        select `trace_id`,
               `from_loc`,
               `to_loc`,
               `route_loc_num`,
               `prevention_level`,
               `symptom`,
               `season`,
               `vaccine_num`,
               `a_type`,
               `create_time`
        from trace_map
        where `trace_id` = #{traceId}
    </select>

</mapper>